{% extends 'base.html' %}
{% load static %}
{% block title %}
Knights of Columbus - Admin Dashboard
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard_style.css' %}?v={% now 'U' %}">
<div class="container">
    <div class="admin">
        <h1>Knights of Columbus</h1>
        <h2>Admin Dashboard</h2>
        <div class="admin-info">
            <!-- <p>Welcome, {{ user.username }}</p>
            <p>Role: {{ user.role }}</p>
            {% if user.council %}
                <p>Council: {{ user.council.name }}</p>
            {% else %}
                <p>No council assigned</p>
            {% endif %} -->
            <div class="admin-details">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-pic">
                <p>{{ user.username }}</p>
    
            {% endif %}
            </div>
            <p><a href="{% url 'edit_profile' %}">Edit Profile</a></p>
            <p><a href="{% url 'archived_users' %}">View Archived Users</a></p>
        </div>
    </div>
    <!-- <h2>Users</h2>
    <ul>y
        {% for u in user_list %}
            <li>{{ u.username }} - {{ u.role }} - {{ u.council.name|default:"No council" }}</li>
        {% endfor %}
    </ul> -->
    <div class="user-list">
        <h2>Users</h2>
        {% for u in user_list %}
            <p>{{ u.first_name }} {{ u.last_name }} - {{ u.council.name|default:"No council" }} <a href="{% url 'update_degree' u.id %}">Update Degree</a> | <a href="{% url 'archive_user' u.id %}">Archive User</a></p>
        {% endfor %}
        <h2>Events</h2>
        {% for event in events %}
            <ul>
                <li>{{ event.name }} - {{ event.date }}</li>
            </ul>
        {% endfor %}
    </div>
    <div class="analytics">
        <h2>Analytics</h2>
        {% for a in analytics %}
            <ul>
                <li>{{ a.council.name }}: {{ a.events_count }} events, ${{ a.donations_amount }}</li>
            </ul>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
        var gk_isXlsx = false;
        var gk_xlsxFileLookup = {};
        var gk_fileData = {};
        function filledCell(cell) {
          return cell !== '' && cell != null;
        }
        function loadFileData(filename) {
        if (gk_isXlsx && gk_xlsxFileLookup[filename]) {
            try {
                var workbook = XLSX.read(gk_fileData[filename], { type: 'base64' });
                var firstSheetName = workbook.SheetNames[0];
                var worksheet = workbook.Sheets[firstSheetName];

                // Convert sheet to JSON to filter blank rows
                var jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1, blankrows: false, defval: '' });
                // Filter out blank rows (rows where all cells are empty, null, or undefined)
                var filteredData = jsonData.filter(row => row.some(filledCell));

                // Heuristic to find the header row by ignoring rows with fewer filled cells than the next row
                var headerRowIndex = filteredData.findIndex((row, index) =>
                  row.filter(filledCell).length >= filteredData[index + 1]?.filter(filledCell).length
                );
                // Fallback
                if (headerRowIndex === -1 || headerRowIndex > 25) {
                  headerRowIndex = 0;
                }

                // Convert filtered JSON back to CSV
                var csv = XLSX.utils.aoa_to_sheet(filteredData.slice(headerRowIndex)); // Create a new sheet from filtered array of arrays
                csv = XLSX.utils.sheet_to_csv(csv, { header: 1 });
                return csv;
            } catch (e) {
                console.error(e);
                return "";
            }
        }
        return gk_fileData[filename] || "";
        }
</script>
<!-- <div class="container">
    <h1>Admin Dashboard</h1>
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-pic">
    {% endif %}
    <p>Welcome, {{ user.username }}</p>
    <h2>Users</h2>
    {% for u in user_list %}
        <p>{{ u.username }} - <a href="{% url 'update_degree' u.id %}">Update Degree</a> | <a href="{% url 'archive_user' u.id %}">Archive User</a></p>
    {% endfor %}
    <p><a href="{% url 'archived_users' %}">View Archived Users</a></p>
    <p><a href="{% url 'edit_profile' %}">Edit Profile</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
</div> -->
{% endblock %}